@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root {
    --main-color-Black6: #0F0F0F;
    --main-color-Black8: #141414;
    --main-color-Black10: #1A1A1A;
    --main-color-Black12: #1F1F1F;
    --main-color-Black15: #262626;
    --main-color-Black20: #333333;
    --main-color-red45: #E50000;
    --main-color-Grey60: #999999;
    --main-color-Grey75: #BFBFBF;
    --main-color-AbsoluteWhite: #FFFFFF;
}
body {
    background-color: var(--main-color-Black8);
}
nav {
    left: -1;
    z-index: 1;
    
    button {
        font-family: 'Manrope', sans-serif;
        background-color: var(--main-color-Black10);
        border: 1px solid var(--main-color-Black10);
        padding: 14px 24px;
        gap: 10px;
        font-size: 18px;
        letter-spacing: 0;
    }
        a {
            font-family: 'Manrope', sans-serif;
            color: var(--main-color-Grey75);
            font-size: 18px;
            letter-spacing: 0;
    }
    .ButtonsContainer1 {
        gap: 30px;
    }
    button {
        border: 3px solid var(--main-color-Black15);
        background-color: var(--main-color-Black10);
        padding: 12px;
        gap: 10px;
        border-radius: 6px;
    }
}
.custom-nav-padding {
    padding: 30px 162px;
}
.ButtonsContainer {
    gap: 30px;
    border: 4px solid var(--main-color-Black12);
    padding: 10px 40px 10px 10px;
    background-color: var(--main-color-Black6);
}
.imagecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    
        
    img {
        width: 195.56px;
        height: 200px;
        object-fit: cover;
        border-radius: 20px;
    }
}
.subcontainer1 {
    gap: 50px;

    .text-container {
        
        p {
            font-family: 'Manrope', sans-serif;
            font-size: 58px;
            letter-spacing: 0%;
            color: var(--main-color-AbsoluteWhite);
        }
        p:nth-child(2) {
            font-size: 18px;
            color: var(--main-color-Grey60);
        }
    }
    button {
        width: fit-content;
        border: 0px;
        background-color: var(--main-color-red45);
        color: var(--main-color-AbsoluteWhite);
        font-family: 'Manrope', sans-serif;
        font-size: 18px;
        letter-spacing: 0%;
        padding: 14px 28px;
    }
}
.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 200px;
    margin-bottom: 150px;

    .subcontainer2{
        display: flex;
        gap: 100px;
        
        .text-container1 {
            display: flex;
            flex-direction: column;
            gap: 14px;

            p{
                font-family: 'Manrope', sans-serif;
                font-size: 38px;
                letter-spacing: 0%;
                color: var(--main-color-AbsoluteWhite);
            }
            p:nth-child(2) {
                font-size: 18px;
                color: var(--main-color-Grey60);
            }
        }
        .ButtonsContainer2 {
            height: fit-content;
            display: flex;
            border: 1px solid var(--main-color-Black12);
            border-radius: 12px;
            padding: 16px;
            background-color: var(--main-color-Black6);
            gap: 16px;
            align-items: center;

            button {
                background-color: var(--main-color-Black10);
                border-radius: 8px;
                padding: 14px;
                border: 1px solid var(--main-color-Black12);
                gap: 10px;
            }
            .IndicatorsContainer {
                display: flex;
                gap: 3px;
                width: 81px;
                height: 4px;

                .shap {
                    background-color: var(--main-color-Black20);
                    border-radius: 100px;
                    width: 16.33px;
                }
                .shap:nth-child(1) {
                    width: 23px;
                    background-color: var(--main-color-red45);
                }
            }
        }
    }
    .subcontainer3 {
        gap: 30px;

        .card {
            display: flex;
            flex-direction: column;
            background-color: var(--main-color-Black10);
            border: 1px solid var(--main-color-Black15);
            border-radius: 12px;
            padding: 30px;

            .imagecontainer {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                gap: 5px;

                img {
                    width: 115.2px;
                    height: 123.5px;
                    border-radius: 10px;
                }
            }
        }
    }
}
@media (max-width: 1439px) {
    .custom-nav-padding {
        padding: 24px 80px;
    }
    .ButtonsContainer {
    gap: 16px;
    padding: 8px 30px 8px 8px;
    }
    .logo {
        width: 165.83px;
        height: 50px;
    }
}
@media (max-width: 576px) {
    .custom-nav-padding {
        padding: 40px 16px 14px 16px;
    }
    .logo {
        width: 116.08px;
        height: 35px;
    }
}   